*{
    max-width: 100%;
    height: auto;
	vertical-align: bottom;
	padding: 0;
	border: 0;
	margin: 0;
}

body{
    width: 100%;
	background-color: aquamarine;
	font-family: Arial, Helvetica, Sans-Serif;
	vertical-align: bottom;
}

.padredetodos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self:flex-start;
}


aside{
    background-color: cadetblue;
	text-align:center;
	padding:50px;
	margin-left:5px;
	font-size:1em;
}

section{
    background-color:darkcyan;
    align-self: center;
    display: block;
    font-family: cursive;
	text-align:center;
	padding:10px;
	font-size:1em;
	font-weight:bold;
}

.cajacentral{
    display:flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-around;
}

.caja{
    width:313px;
    height:475px;
    perspective: 100px;
    transform-style: preserve-3d;
    transition: all 1s linear;
}

.frontal{
    position:absolute;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.trasera{
    position:absolute;
    backface-visibility: hidden;  
    transform: rotateY(-180deg);
    margin: 2em;
    font-family:monospace;
}

.caja:hover{
    transform: rotateY(180deg);
    background-color: aliceblue;
}

@media screen and (max-width:768px){
    cajacentral{
        flex-direction: column;
    }
    
    section{
        order:-2;
        width:auto;
        align-self: stretch;
    }
    
}

@media screen and (max-width: 360px){
    header{
        order: -4;
        width:auto;
        align-self: stretch;
    }
    
    cajacentral{
        flex-direction: column;
    }
    
    section{
        order:-3;
        height:auto;
        align-self: stretch;
    }
    

}